##Numpy

#### Задание 1

In [1]:
import numpy as np
a = np.array([[1, 6], 
              [2, 8], 
              [3, 11], 
              [3, 10], 
              [1, 7]])
mean_a = a.mean(axis = 0)
mean_a

array([2. , 8.4])

#### Задание 2

In [2]:
a_centered = a - mean_a
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

#### Задание 3

In [3]:
a_left = a_centered[:4, :1].flatten()
a_right = a_centered[:4, 1:].flatten()
a_centered_sp = np.dot(a_left, a_right)
a_centered_sp

6.6

In [ ]:
x = a_centered_sp / (len(a_centered)-1)
x

1.65

#### Задание 4**

In [4]:
a_cov = np.cov(a.T)
print(a_cov)
print()
print(a_cov[0][1]) # проверка не удалась, числа  разные

[[1.  2. ]
 [2.  4.3]]

2.0

## Pandas

#### Задание 1

In [5]:
import pandas as pd

In [6]:
authors = pd.DataFrame({'author_id': [1, 2, 3], 'author_name': ['Тургенев', 'Чехов', 'Островский']})
book = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],
                     'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     'price':[450, 300, 350, 500, 450, 370, 290]})

#### Задание 2

In [7]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

#### Задание 3

In [ ]:
top5 = authors_price['price'].sort_values(ascending=False).head()
top5 = top5.reset_index(drop=True)
top5

0    500
1    450
2    450
3    370
4    350
Name: price, dtype: int64

#### Задание 4

In [9]:
auth = authors_price[['author_name', 'price']]
authors_stat = auth.groupby(['author_name']).agg(['min', 'max', 'mean'])
authors_stat

            price
              min  max        mean
author_name
Островский    290  370  330.000000
Тургенев      300  450  366.666667
Чехов         450  500  475.000000

#### * Задание 5

In [15]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
# ?pd.pivot_table

In [16]:
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [11]:
?pd.pivot_table

In [17]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_name'], 
                columns=['cover'], aggfunc=np.sum)

In [18]:
book_info

cover        мягкая  твердая
author_name
Островский    660.0      NaN
Тургенев      650.0    450.0
Чехов           NaN    950.0

In [19]:
book_info = book_info.fillna(0) 
book_info

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0

In [20]:
book_info.to_pickle('book_info.pkl')


#book_info2

In [21]:
book_info2 = pd.read_pickle('book_info.pkl')

In [22]:
book_info2

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0